/*CONTENIIDO*/
.box-contenido {
  margin-top: 60px;
  margin-bottom: 60px;
}

.timeline-block{
  margin-top: -60px;
  background-color: #F9F9F9;
  padding-top: 60px;
  padding-bottom: 15px;
  margin-bottom: 130px; 
}

.timeline-block .events-content {
  margin: 0!important;
}

.timeline-block .events-content .my-3{
  font-size: 21px;
}

.timeline-block .events-content .my-3:after {
  padding-top: 15px;
  border-bottom: 1px solid #999999;
  content: '';
  display: block;
  width: 30%;
  margin-left: 35%;
}

.segundo-contenido{
  margin-top: 130px; 
}

.segundo-contenido .fila{
  background-color: #F9F9F9
}

.first .box-contenido-titulo {
  display: none;
}

.first .texto-contenido {
  font-size: 18px;
  font-weight: 500;
  color: #3F3F3F;
}

.row.box-item {
  margin-bottom: 180px;
}

.box-contenido-titulo {
  color: #3F3F3F;
}

.row.box-item img {
  margin-top: -70px;
  margin-bottom: -70px;
}

.row.box-item .texto-contenido {
  font-size: 18px;
  font-weight: 500;
  color: #3F3F3F;
  margin-top: 40px;
  margin-bottom: 24px;
}

