/* MENU DE NAVEGACION */
#navbarfirst{
  background-color: rgba(255,255,255,0.6);
}

#navbar .nav-link {
  color: #5B5A5A;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

#navbar .nav-link:hover{
  border-bottom: 2px solid #5B5A5A;
}

#navbar .nav-link.active {
  border-bottom: 2px solid #5B5A5A;
}

#navbarfirst .nav-link {
  color: #5B5A5A;
  font-size: 14px;
}
#navbarfirst .nav-link:hover {
  color: #8B3135;
}
